/* BIG erbsite */
html {
	background-color: #ccc;
}

main {
	background-color: #fff;
	width: 80%;
	margin: auto;
	border: 1px solid black;
}

h1 a {
	text-decoration: none;
}

section {
	float: left;
	width: 64%;
}

aside {
	float: right;
	width: 36%;
}

a {
	text-decoration: none;
}

.logo {
	margin-right: 0.5em; 
}

img {
	width: 100%;
	border:1px solid #222;
	border-radius: 15px;
}

div.gallery {
	text-align: center;
}

figure {
	display: inline-block;
	margin: .25%;
}

/*START - EMBED RESPONSIVELY STYLES*/

.embed-container {
position: relative; 
padding-bottom: 56.25%; 
height: 0; 
overflow: hidden; 
max-width: 100%; 
} 
.embed-container iframe, { 
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
}

.embed-container.agenda-view
{
	display: none;
}
.embed-container.month-view
{
	display: block;
}

footer {
	padding: 2em;
	text-align: center;
	clear: both;
}

/* mobile styles */

@media all and (max-width: 900px) {

	.embed-container.month-view
	{
		display: none;
	}

	.embed-container.agenda-view
	{
		display: block;
	}

}

@media all and (max-width: 600px) {

	main {
		width: 100%;
		border: 1px solid black;
	}

	section {
		float: none;
		width: 100%;
	}

	aside {
		float: none;
		width: 100%;
	}
}

